## Spliting 2u data

In [2]:
import pandas as pd
dataset = "NELL"
df = pd.read_csv(f"2u_prompt_{dataset}_test_2_full.csv")
print(df.shape)
df

(26820, 27)

,use_context,prompt_base_query,raw_response_base_query,response_base_query,ground_truth_base_query,correct_base_query,logically_consistent,time_context,time_response_base_query,prompt_subquery_1,...,response_subquery_2,ground_truth_subquery_2,correct_subquery_2,time_response_subquery_2,time_subgraph,time_bfs,time_bfs_good_name,time_flipped_entity_find,time_flipped_entity_find_1,time_flipped_entity_find_2
0,True,Consider the context as a set of triplets wher...,NaN,NaN,True,NaN,NaN,0.309523,NaN,Consider the context as a set of triplets wher...,...,NaN,True,NaN,NaN,1.176604,0.50261,0.672621,0.001211,0.000934,0.003282
1,True,Consider the context as a set of triplets wher...,NaN,NaN,True,NaN,NaN,0.309523,NaN,Consider the context as a set of triplets wher...,...,NaN,False,NaN,NaN,1.176604,0.50261,0.672621,0.001211,0.000934,0.003282
2,True,Consider the context as a set of triplets wher...,NaN,NaN,True,NaN,NaN,0.309523,NaN,Consider the context as a set of triplets wher...,...,NaN,True,NaN,NaN,1.176604,0.50261,0.672621,0.001211,0.000934,0.003282
3,True,Consider the context as a set of triplets wher...,NaN,NaN,False,NaN,NaN,0.309523,NaN,Consider the context as a set of triplets wher...,...,NaN,False,NaN,NaN,1.176604,0.50261,0.672621,0.001211,0.000934,0.003282
4,False,Do not add additional text. Is the following l...,NaN,NaN,True,NaN,NaN,NaN,NaN,Do not add additional text. Is the following l...,...,NaN,True,NaN,NaN,1.176604,0.50261,0.672621,0.001211,0.000934,0.003282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26815,True,Consider the context as a set of triplets wher...,NaN,NaN,False,NaN,NaN,0.064044,NaN,Consider the context as a set of triplets wher...,...,NaN,False,NaN,NaN,0.151936,0.00221,0.149361,0.001687,0.001816,0.001491
26816,False,Do not add additional text. Is the following l...,NaN,NaN,True,NaN,NaN,NaN,NaN,Do not add additional text. Is the following l...,...,NaN,True,NaN,NaN,0.151936,0.00221,0.149361,0.001687,0.001816,0.001491
26817,False,Do not add additional text. Is the following l...,NaN,NaN,True,NaN,NaN,NaN,NaN,Do not add additional text. Is the following l...,...,NaN,False,NaN,NaN,0.151936,0.00221,0.149361,0.001687,0.001816,0.001491
26818,False,Do not add additional text. Is the following l...,NaN,NaN,True,NaN,NaN,NaN,NaN,Do not add additional text. Is the following l...,...,NaN,True,NaN,NaN,0.151936,0.00221,0.149361,0.001687,0.001816,0.001491
26819,False,Do not add additional text. Is the following l...,NaN,NaN,False,NaN,NaN,NaN,NaN,Do not add additional text. Is the following l...,...,NaN,False,NaN,NaN,0.151936,0.00221,0.149361,0.001687,0.001816,0.001491

In [3]:
# split df into 2 parts
df_test = df.iloc[:df.shape[0]//2]
df_test.to_csv(f"2u_prompt_{dataset}_test_2.csv", index=False)
df_train = df.iloc[df.shape[0]//2:]
df_train.to_csv(f"2u_prompt_{dataset}_train_2.csv", index=False)

## Preparing prompt + rules for 1c data

In [5]:
import pandas as pd
dataset = "wiki"
# filename = f"1c_prompt_{dataset}_test_2.csv"
filename = f"1c_prompt_{dataset}_valid_2.csv"
df = pd.read_csv(filename)
df.shape

(19548, 19)

In [6]:
new_rule = "Answer with Yes when the triplet appears in the context and No when the triplet does not appear in the context."
previous_rule = "Answer with Yes or No."

df['prompt_base_query'] = df.apply(lambda x: x['prompt_base_query'].replace(previous_rule, new_rule) if x['use_context']
                                   else x['prompt_base_query'], axis=1)
df['prompt_negation_query'] = df.apply(lambda x: x['prompt_negation_query'].replace(previous_rule, new_rule) if x['use_context']
                                       else x['prompt_negation_query'], axis=1)

In [7]:
df.to_csv(filename.replace(".csv", "_with_rules.csv"), index=False)

In [8]:
df.iloc[3]['prompt_base_query']

"Consider the context as a set of triplets where entries are separated by '|' symbol. Answer question according to the context.[NEWLINE][NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Salvador Moreno Hernández[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Óscar Pachón[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Danny Osorio[NEWLINE]2020 Vuelta a Colombia, stage 8 | stage classification | Sebastián Castaño[NEWLINE]2020 Vuelta a Colombia, stage 7 | sport | road bicycle racing[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Yeison Rincón[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Adrián Bustamante[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Diego Camargo[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Didier Chaparro[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Edwin Leandro Arango[NEWLINE]2020 Vuelta a Colombia, stage 7 | country | Colombia[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Aldemar Reyes[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Robinson Chalapud[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Danny Osorio[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Weimar Roldán[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Juan Pablo Suárez[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Ángel Alexander Gil[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Juan Pablo Suárez[NEWLINE]2020 Vuelta a Colombia, stage 7 | destination point | Manizales[NEWLINE]2020 Vuelta a Colombia, stage 8 | instance of | mountain stage[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Hernán Aguirre[NEWLINE]2020 Vuelta a Colombia, stage 6 | winner | Yeison Rincón[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Fabio Duarte[NEWLINE]2020 Vuelta a Colombia, stage 6 | general classification of race participants | Aristóbulo Cala[NEWLINE]2020 Vuelta a Colombia, stage 7 | winner | Diego Camargo[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Jhon Anderson Rodríguez[NEWLINE]2020 Vuelta a Colombia, stage 8 | destination point | Belalcázar[NEWLINE]2020 Vuelta a Colombia, stage 8 | followed by | 2020 Vuelta a Colombia, stage 9[NEWLINE]2020 Vuelta a Colombia, stage 6 | stage classification | Edwin Patiño[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Fabio Duarte[NEWLINE]2020 Vuelta a Colombia, stage 8 | stage classification | Juan Pablo Vallejo[NEWLINE]2020 Vuelta a Colombia, stage 7 | general classification of race participants | Óscar Sevilla[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Diego Camargo[NEWLINE]2020 Vuelta a Colombia, stage 6 | destination point | Mirador El Tambo[NEWLINE]2020 Vuelta a Colombia, stage 7 | start point | Chinchiná, Caldas[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Óscar Sevilla[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | José Tito Hernández[NEWLINE]2020 Vuelta a Colombia, stage 7 | stage classification | Brayan Sánchez[NEWLINE]2020 Vuelta a Colombia, stage 6 | general classification of race participants | Carlos Herney Soler[NEWLINE]2020 Vuelta a Colombia, stage 8 | general classification of race participants | Sebastián Castaño[NEWLINE]2020 Vuelta a Colombia, stage 7 | instance of | uphill time trial[NEWLINE]2020 Vuelta a Colombia, stage 7 | winner | Óscar Sevilla[NEWLINE]2020 Vuelta a Colombia, stage 7 | follows | 2020 Vuelta a Colombia, stage 6[NEWLINE]2020 Vuelta a Colombia, stage 6 | start point | Armenia[NEWLINE][NEWLINE]Do not add additional text. Is the following triplet FACTUALLY CORRECT? Answer with Yes when the triplet appears in the context and No when the triplet does not appear in the context.[NEWLINE][NEWLINE]2020 Vuelta a Colombia, stage 7 | country | Colombia"